#owl-demo .owl-item div{
      text-align: center;
}
#owl-demo .owl-item img{
      display: inline-block;
      width: auto;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
}

#match{
  border: 0;
  font-size: 15px;
  font-family: calibri;
  color: white;
  background-color: #F00;
  text-align: center;
}

#non_match{
  border: 0;
  font-size: 15px;
  font-family: calibri;
  text-align: center;
}

table{
	margin: 0;
	padding: 0;
	border: 1px solid black;
	text-align: center;
}
td{
	width: 5px;
	height: 5px;
	text-align: center;
	border: 1px solid black;
}
